# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
venv/
.env
.venv
env/
ENV/

# Project Data and Results
input/
output/
brute_force_report.html

# IDEs and OS
.idea/
.vscode/
*.swp
.DS_Store

# Large weight files (optional)
*.pth
*.pt
*.onnx
*.weights
*.h5
*.pkl
